all:
  children:
    control:
      hosts:
        %{~ for name, instance in instances ~}
        %{~ if can(regex("^chutes-miner-control", name)) ~}
        ${name}:
          ansible_host: ${instance.public_ip}
        %{~ endif ~}
        %{~ endfor ~}
    workers:
      hosts:
        %{~ for name, instance in instances ~}
        %{~ if can(regex("^chutes-miner-gpu", name)) ~}
        ${name}:
          ansible_host: ${instance.public_ip}
        %{~ endif ~}
        %{~ endfor ~}