[Interface]
PrivateKey = {{ wg_private }}
Address = {{ wireguard_ip }}/24
ListenPort = 51820

{% for host in groups['k3s_cluster'] %}
{% if host != inventory_hostname and hostvars[host].wg_public is defined %}
[Peer]
PublicKey = {{ hostvars[host].wg_public }}
AllowedIPs = {{ hostvars[host].wireguard_ip }}/32
Endpoint = {{ host }}:51820
PersistentKeepalive = 25
{% endif %}
{% endfor %}